.footer {
    background-color: #90D4C6;
}

.footer__logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.2rem;
}

.footer__nav {
    margin-top: 4rem;
    margin-bottom: 8.8rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 5.7rem;
}

.footer__link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: -0.13px;
    color:#458D7E;
    transition: 0.4s;

    &:hover {
        color:#FFFFFF;
    }
}

.footer__icons {
   display: flex;
   justify-content: center;
   gap: 2.8rem;
   margin-bottom: 7.2rem;
}

.icon path {
    transition: fill 0.4s;
}

.icon:hover path {
    fill: #FFFFFF;
}

@media screen and (max-width:400px) {
    .footer__logo {
        margin-top: 6.4rem;
    }

    .footer__icons {
        margin-bottom: 8rem;
    }
}