*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "barlow","serif";
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}

.container {
    max-width: 1700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}