*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}